body {
	background-image: url("../images/books1.jpg");
	background-repeat: no-repeat;
  	background-position: center;
  	background-attachment: fixed;
  	background-size: cover;
}

button {
	background-color: black;
	margin: 30px;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	display: inline-block;
  	font-size: 16px;
}
 
#heading
{
	color: white;
}

#wrapper {
	padding-top: 30px;
	background-color: grey;
	text-align: center;
	margin-top: 100px;
	margin-left: 480px;
	width: 500px;
}

#search {
	padding: 12px 20px;
	margin-top: 40px;
	width: 480px;

}

a {
	color: white;
}

#results {
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
	background-color: green;
}
